.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4svw;
	width: 100svw;
	height: 100svh;
	position: relative;
}

.cup {
	border: 0.5svw solid rgb(32, 69, 235);
	border-radius: 0 0 2svw 2svw;
}

.progressBar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 16svw;
	height: 40svh;
	overflow: hidden;
}

.progressSteps {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1svw;
	position: relative;
}

.step {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2svw;
	height: 10svh;
	&.active {
		background-color: rgba(32, 69, 235, 0.5);
	}
}
