@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100svw;
	height: 100svh;
	background-color: rgba(78, 89, 140, 1);
}

#navBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    border: 2svw solid rgba(243, 247, 240, 1);
	border-radius: 1svw;
	background-color: rgba(243, 247, 240, 1);
	overflow: hidden;
}

#navList {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 1.5svw;
	width: 30svw;
	margin: 0;
	padding: 0 2svw 0 0;
	transition: transform 500ms 500ms linear, width 500ms linear;
	.navItem {
		font: 400 1.75svw "Roboto", sans-serif;
		color: rgba(222, 143, 110, 1);
	}
}

#navToggle {
	display: flex;
	flex-direction: row;
	width: 2.5svw;
	height: 2.5svw;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: rgba(243, 247, 240, 1);
	.iconLine {
		height: 100%;
		width: 0.3svw;
		position: absolute;
		transition: transform 1s linear;
		&#left {
			transform: rotate(1125deg);
			background-color: rgba(78, 89, 140, 1);
		}
		&#right {
			transform: rotate(-405deg);
			background-color: rgba(222, 143, 110, 1);
		}
	}
}

#navBox.closed {
	#navList {
	transition: transform 500ms linear, width 500ms 500ms linear, padding 0ms 500ms linear;
		transform: translateX(100%);
        width: 0;
        padding: 0;
	}
	.iconLine {
		&#left {
			transform: rotate(90deg) translate(-0.5svw);
		}
		&#right {
			transform: rotate(-1350deg) translate(0.5svw);
		}
	}
}
