@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font: 4rem 'VT323';
    margin: 0;
}